@import "tailwindcss";


:root {
  --color-background: #000000;
}

body {
  background-color: var(--color-background);
}

svg path {
  fill: white !important;
  stroke: none !important;
}

.text-section,
.text-section * {
  isolation: auto !important;
} 

/* div[class*="relative"] {
  isolation: auto;
} */